.student-card {
  text-align: center;
}

.student-card__avatar {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.student-card__name {
  color: #ff69b4;
}

.student-card__info {
  color: #ff69b4;
}
